body > * {
  max-width: var(--max-width-xl);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  > * {
    flex: 1;
    padding: var(--space-xl) 0;
  }

  &__nav {
    transform: translateX(200%);
    position: fixed;
    right: var(--component-padding);
    top: calc(2 * var(--space-xl) + 1.875rem); // 2 * padding of header items plus logo height
    min-width: 15.75rem;
    transition: all 0.4s ease;
     &.open {
       transform: translateX(0%);
        z-index: var(--zindex-fixed-element);
      }
    @include breakpoint(sm) {
      transform: translateX(0%);
      padding-left: var(--space-lg);
      position: static;
      background-color: var(--color-primary);
      min-width: 27.375rem;
    }
    @include breakpoint(lg) {
      padding-left: var(--space-xl);
    }

    &__list {
     display: grid;
      gap: var(--space-md);
      place-items: center;
      @include breakpoint(sm) {
         grid-auto-flow: column;
        .btn {
          width: 80%;
          --bg-button: var(--color-accent);
          &:hover { --bg-button: var(--color-accent-lighter)}
        }
      }
      @include breakpoint(lg) {
        gap: var(--space-lg);
        .btn {width: initial;}
      }
    }

  }
}

.hero {
    &__img {
      width: 100%;
      object-fit: cover;
    }
  @include breakpoint(sm) {
    --bg-image: url(../images/tablet/image-hero.jpg);
    background: right center/ contain no-repeat  var(--bg-image);
    &__img {display: none;}
    &__content {max-width: 55%;}
  }
  @include breakpoint(lg) {
    --bg-image: url(../images/desktop/image-hero.jpg);
  }
}

.strategic {
  --mg-left: 1.25rem;
  position: relative;
  display: grid;
   grid-template-rows: 50vw 1fr;

  &__picture {
    --bg-image: url(../images/mobile/image-strategic.jpg);
    background: var(--bg-image) no-repeat;
    background-size: cover;
  }

&__design {
  display: grid;
  align-content: center;
}

&__design h2 {
  position: relative;
   &:before {
    position: absolute;
     content: '';
    background: url(../images/desktop/bg-pattern-wave-red.svg) no-repeat;
    background-size: contain;
    width: 4rem;
    height:4rem;
    transform: translateY(-150%);
   }
}

  .service {
    margin-left: var(--mg-left);
    position: relative;
    h3 {margin-bottom: var(--space-sm);}
  }

  .bg-number {
    position: absolute;
    content: '';
    top: -3.125rem;
    left: calc(-1 * var(--mg-left));
    font-size: 4rem;
    font-weight: 700;
    opacity: 25%;
  }

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: 49% 1fr;
    grid-template-rows: 85vw;
    --overlap: 10%;
    --overlap-y: calc(3 * var(--overlap));

    &__picture {
      --bg-image: url(../images/tablet/image-strategic.jpg);
    }

    &__design {
      display: grid;
      place-items: center;
      margin-bottom: var(--overlap-y);
      h2 {
        max-width: 9ch;
        &:before {
        transform: translate(-130%, 50%);
        }
      }
    }

    &__services-intro {
      background: transparent;
      color: var(--color-accent);
      h2 { max-width: 15ch;}
   }

    &__services-details {
      padding-bottom: 0;
      z-index: var(--zindex-header);
      width: calc(100% + var(--overlap));
      margin-top: calc(-1 * var(--overlap-y));
      margin-left: calc(-1 * var(--overlap));
      display: grid;
      align-items: center;
      padding: var(--space-xxxl) 0;
    }
   }

  @include breakpoint(lg) {
    grid-template-columns: 51% 1fr;
    grid-template-rows: 984px;

    &__picture {
      --bg-image: url(../images/desktop/image-strategic.jpg);
    }

    &__design h2:before {
      width: 8.43rem;
      transform: translate(-160%, 50%);
    }

    &__services-intro {
      z-index: var(--zindex-overlay);
      margin-right: calc(-1 * var(--overlap));
    }

    &__services-details {
      --overlap-x: calc(3 * var(--overlap));
      width: calc(100% + var(--overlap-x));
      margin-left: calc(-1 * var(--overlap-x));
      padding: var(--space-xxxxl) 0;
    }

    &__services-details .container {
      padding-left: calc(2 * var(--overlap));
    }
  }
}

.slider {
  .slide {
    display: grid;
    grid-template-rows: 108vw auto;

    &__image {
      --bg-gradient: linear-gradient(to bottom, transparent 70%, var(--color-black) 100%);
      background-image: var(--bg-gradient), var(--bg-image);
      background-size: cover;
      grid-row: 1;
      display: grid;
      place-items: end;
    }

    &__info {
      width: 100%;
      text-align: right;
      color: var(--color-white);
      padding: var(--space-lg) 0;
    }

    .wave-icon {display: none;}

    &__intro {
      padding: calc(1rem + var(--space-xl)) 0;
      display: grid;
      align-items: center;
      h2 {max-width: 12ch;}
      grid-row: 2;
    }

    &__image--1 {--bg-image: url(../images/mobile/image-slide-1.jpg);}
    &__image--2 {--bg-image: url(../images/mobile/image-slide-2.jpg);}
    &__image--3 {--bg-image: url(../images/mobile/image-slide-3.jpg);}

    &__nav {
      > :last-child {margin-left: var(--space-sm);}
      img { cursor: pointer;}
      img:hover {
        filter: brightness(0) saturate(100%) invert(82%) sepia(22%) saturate(5613%) hue-rotate(305deg) brightness(105%) contrast(118%);
      }
    }

    @include breakpoint(sm) {
      grid-template-columns: 51% 1fr;
      grid-template-rows: 61vw;
      --overlap: 10%;

      &__image {
        grid-column: 2 / -1;
        --overlap-x: calc(1.5 * var(--overlap));
        width: calc(100% + var(--overlap-x));
        margin-left: calc(-1 * var(--overlap));
      }

      &__info {padding: var(--space-xl) 0}

      &__intro {
        padding: 12vw 0;
        grid-column: 1 / 2;
        grid-row: 1;
        align-self: start;
        position: relative;
          &:after {
          position: absolute;
          content: '';
          background: url(../images/desktop/bg-pattern-wavy-white.svg) no-repeat;
          background-size: contain;
          width: 4rem;
          height: 4rem;
          top: 40%;
          right:0;
          transform: translateX(50%);
        }
      }

      &__image--1 {--bg-image: url(../images/tablet/image-slide-1.jpg);}
      &__image--2 {--bg-image: url(../images/tablet/image-slide-2.jpg);}
      &__image--3 {--bg-image: url(../images/tablet/image-slide-3.jpg);}

    }

    @include breakpoint(lg) {
      grid-template-rows: 50vw;

      &__intro:after {width: 8.375rem;}

      &__image {
       width: calc(100% + 3 * var(--overlap));
       margin-left: calc(-3 * var(--overlap));
      }
      &__image--1 {--bg-image: url(../images/desktop/image-slide-1.jpg);}
      &__image--2 {--bg-image: url(../images/desktop/image-slide-2.jpg); }
      &__image--3 {--bg-image: url(../images/desktop/image-slide-3.jpg);}
    }
  }
}

.footer {
  padding: var(--space-xl) 0;
  position: relative;
  overflow: hidden;
  &__logo {
    display: none;
  }

  .container {
     display: grid;
     align-items: center;
     justify-items: start;
     gap: var(--space-xl);
  }

  @include breakpoint(sm) {
    .container {
     grid-auto-flow: column;
    justify-content: space-between;

    h2 { width: 18ch;}
    }
  }

  @include breakpoint(lg) {
    &__logo {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      transform: translate(-50%, 50%);
    }
  }
}