body > * {
  max-width: var(--max-width-xl);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  > * {
    flex: 1;
    padding: var(--space-xl) 0;
  }

  &__nav {
    transform: translateX(200%);
    position: fixed;
    right: var(--component-padding);
    top: calc(2 * var(--space-xl) + 1.875rem); // 2 * padding of header items plus logo height
    min-width: 15.75rem;
    transition: all 0.4s ease;
     &.open {
       transform: translateX(0%);
        z-index: var(--zindex-fixed-element);
      }
    @include breakpoint(sm) {
      transform: translateX(0%);
      padding-left: var(--space-lg);
      position: static;
      background-color: var(--color-primary);
      min-width: 27.375rem;
    }
    @include breakpoint(lg) {
      padding-left: var(--space-xl);
    }

    &__list {
     display: grid;
      gap: var(--space-md);
      place-items: center;
      @include breakpoint(sm) {
         grid-auto-flow: column;
        .btn {
          width: 80%;
          --bg-button: var(--color-accent);
          &:hover { --bg-button: var(--color-accent-lighter)}
        }
      }
      @include breakpoint(lg) {
        gap: var(--space-lg);
        .btn {width: initial;}
      }
    }

  }
}

.hero {
    &__img {
      width: 100%;
      object-fit: cover;
    }
  @include breakpoint(sm) {
    --bg-image: url(../images/tablet/image-hero.jpg);
    background: right center/ contain no-repeat  var(--bg-image);
    &__img {display: none;}
    &__content {max-width: 24.875rem;}
  }
  @include breakpoint(lg) {
    --bg-image: url(../images/desktop/image-hero.jpg);
    &__content {max-width: 50%;}
  }
}

.strategic {
  --mg-left: 1.25rem;
  position: relative;
  &__img {
    width: 100%;
    object-fit: cover;
  }

&__design {
  position: relative; //to place wave icon
  display: grid;
  align-content: center;
}

.red-wave-icon {
  content: '';
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: var(--component-padding);
  width: 3.93rem;
}

  .service {
    margin-left: var(--mg-left);
    position: relative;
    h3 {margin-bottom: var(--space-sm);}
  }

  .bg-number {
    position: absolute;
    content: '';
    top: -3.125rem;
    left: calc(-1 * var(--mg-left));
    font-size: 4rem;
    font-weight: 700;
    opacity: 25%;
  }

  @include breakpoint(sm) {
    display: grid;
    grid-template-columns: 49% 1fr;
    grid-template-rows: 60vw;


    &__picture {
      --bg-image: url(../images/tablet/image-strategic.jpg);
      background: var(--bg-image) no-repeat;
      background-size: cover;
      img { display: none;}
    }

    &__design {
      display: grid;
      place-items: center;
      margin-bottom: 20%;
      h2 { max-width: 9ch;}
    }

    .red-wave-icon {
      transform: translateX(-50%);
      top: 30%;
      left: 0%;
    }

    &__services-intro {
      background: transparent;
      color: var(--color-accent);
   }

    &__services-details {
      padding-bottom: 0;
      z-index: var(--zindex-header);
      width: 110%;
      margin: -20% 0 0 -10%;
      display: grid;
      align-items: center;
      padding: var(--space-xxxl) 0 ;
    }
   }

  @include breakpoint(lg) {
    grid-template-rows: 984px;

    &__picture {
      --bg-image: url(../images/desktop/image-strategic.jpg);
    }

    .red-wave-icon {width: 8.43rem;}

    &__design {
      margin-bottom: 20%;
    }

    &__services-intro {
      z-index: var(--zindex-overlay);
      margin-right: -30%;
    }

    &__services-details {
      width: 125%;
      margin: -20% 0 0 -25%;
    }

    &__services-details .container {
      padding-left: calc(20% - var(--mg-left));
    }
  }
}

.slider {
  .slide {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 42.5rem;

    &__image {
      --bg-gradient: linear-gradient(to bottom, transparent 70%, var(--color-black) 100%);
      background-image: var(--bg-gradient), var(--bg-image);
      background-size: cover;
      grid-column: 1 / -1;
      grid-row: 1 / span 3;
      display: grid;
      place-items: end;
    }

    &__info {
      width: 100%;
      text-align: right;
      color: var(--color-white);
      padding: var(--space-sm) 0;
    }

    .wave-icon {display: none;}

    &__intro {
      padding: var(--space-xl) 0;
      display: grid;
      align-items: center;
      h2 {max-width: 12ch;}
      grid-column: 1 / -1;
      grid-row: 4 / -1;
    }

    &__image--1 {--bg-image: url(../images/mobile/image-slide-1.jpg);}
    &__image--2 {--bg-image: url(../images/mobile/image-slide-2.jpg);}
    &__image--3 {--bg-image: url(../images/mobile/image-slide-3.jpg);}

    &__nav {
      > :last-child {margin-left: var(--space-sm);}
      img { cursor: pointer;}
      img:hover {
        filter: brightness(0) saturate(100%) invert(82%) sepia(22%) saturate(5613%) hue-rotate(305deg) brightness(105%) contrast(118%);
      }
    }

    @include breakpoint(sm) {
      min-height: 29.5rem;
      &__image {
        grid-column: 15 / -1;
        grid-row: 1 / -1;
      }

      &__image--1 {--bg-image: url(../images/tablet/image-slide-1.jpg);}
      &__image--2 {--bg-image: url(../images/tablet/image-slide-2.jpg);}
      &__image--3 {--bg-image: url(../images/tablet/image-slide-3.jpg);}

      &__info {
        padding: var(--space-xl) 0
      }

      &__intro {
        padding: var(--space-xxl) 0;
        grid-column: 1 / 17;
        grid-row: 1 / 4;
        position: relative;
        .wave-icon {
          display: block;
          position: absolute;
          content: '';
          width: 62.5px;
          right: 0;
          top: 35%;
          transform: translate(50%, 50%);
        }
      }
    }

    @include breakpoint(lg) {
      min-height: 45.5rem;
      &__intro .wave-icon { width: auto;}
      &__image { grid-column: 13 / -1}
      &__image--1 {--bg-image: url(../images/desktop/image-slide-1.jpg);}
      &__image--2 {--bg-image: url(../images/desktop/image-slide-2.jpg); }
      &__image--3 {--bg-image: url(../images/desktop/image-slide-3.jpg);}
    }
  }
}

.footer {
  padding: var(--space-xl) 0;
  position: relative;
  overflow: hidden;
  &__logo {
    display: none;
  }

  .container {
     display: grid;
     align-items: center;
     justify-items: start;
     gap: var(--space-xl);
  }

  @include breakpoint(sm) {
    .container {
     grid-auto-flow: column;
    justify-content: space-between;

    h2 { width: 18ch;}
    }
  }

  @include breakpoint(lg) {
    &__logo {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      transform: translate(-50%, 50%);
    }
  }
}