body > * {
  max-width: var(--max-width-xl);
}

.header {
  color: var(--color-white);
  display: flex;
  align-items: center;
  > * {
    flex: 100%;
    padding: var(--space-xl) 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    transform: translateX(200%);
    position: fixed;
    right: var(--component-padding);
    top: calc( 3 * var(--space-lg));
    min-width: 15.75rem;
    transition: all 0.4s ease;
     &.open { transform: translateX(0%);}
    @include breakpoint(sm) {
      transform: translateX(0%);
      display: block;
      position: static;
      background-color: var(--color-primary);
      min-width: 27.375rem;
    }
    &__list {
     display: grid;
      gap: var(--space-md);
      place-items: center;
      @include breakpoint(sm) {
        padding-right: var(--component-padding);
        padding-left: var(--space-md);
        position: static;
         grid-auto-flow: column;
        justify-content: start;
        .btn {
          padding-left: var(--space-md); padding-right: var(--space-md);
          --bg-button: var(--color-accent);
          &:hover { --bg-button: var(--color-accent-lighter)}
        }
      }
      @include breakpoint(md) {
        padding-left: var(--space-xl);
        gap: var(--space-lg);
        .btn{padding-left: var(--btn-padding-x); padding-right: var(--btn-padding-x);}
      }
    }
  }
}


.hero {
    &__img {
      width: 100%;
      object-fit: contain;
    }

  @include breakpoint(sm) {
    background: url(../images/tablet/image-hero.jpg) no-repeat right center;
    background-size: contain;
    &__img {display: none;}
    &__content {max-width: 398px;}
  }
  @include breakpoint(lg) {
    background: url(../images/desktop/image-hero.jpg) no-repeat right center;
    background-size: contain;
    &__content {max-width: 50%;}
  }
}